// General DAP-seq pipeline
workDir = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/DAPseq_t_urartu/nf_workdir"

params {
  // Input/output
  input = "/mnt/picea/home/tkalman/Git/DAP-seq_processing/samplesheet_triticum_urartu.csv"
  outdir      = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/DAPseq_t_urartu/nf_out"

  // Role labels used in samplesheet
  tf_role    = 'tf'
  input_role = 'input'

  // Reference files
  bowtie2_index = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/DAPseq_zhang/Triticum_urartu_IGDB/index/Triticum_urartu.IGDB.dna.toplevel"
  genome_fasta  = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/DAPseq_zhang/Triticum_urartu_IGDB/fasta/Triticum_urartu.IGDB.dna.toplevel.fa"
  genome_fai    = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/DAPseq_zhang/Triticum_urartu_IGDB/fasta/Triticum_urartu.IGDB.dna.toplevel.fa.fai"
  promoter_bed  = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/DAPseq_zhang/Triticum_urartu_IGDB/annotation/Triticum_urartu.IGDB.62.only_gene_promoters.bed"
  motif_db      = "/mnt/picea/home/tkalman/FOR-ANALYSIS-IN-ALL-PHD-PROJECTS/PlantTFDB/Ath_TF_binding_motifs.meme"

  // Read layout for the whole run: PE or SE
  read_layout = 'PE'

  // Program arguments
  singularity_bind        = '--bind /mnt/ada:/mnt/ada --bind /mnt/picea:/mnt/picea --bind /mnt/reference:/mnt/reference'
  fastqc_args             = '--noextract'
  trimmomatic_pe_args     = '-phred33 ILLUMINACLIP:/mnt/picea/home/tkalman/Git/DAP-seq_processing/TruSeq3-PE-2.fa:2:30:10:2:TRUE SLIDINGWINDOW:5:20 MINLEN:50'
  trimmomatic_se_args     = '-phred33 ILLUMINACLIP:/mnt/picea/home/tkalman/Git/DAP-seq_processing/TruSeq3-PE-2.fa:2:30:10 SLIDINGWINDOW:5:20 MINLEN:50'
  bowtie2_pe_args         = '--very-sensitive --end-to-end --dovetail --minins 50 --maxins 1000'
  bowtie2_se_args         = '--very-sensitive --end-to-end'
  samtools_index_args     = '-c'
  samtools_filter_pe_args = '-h -b -f 3 -F 12 -q 20'
  samtools_filter_se_args = '-h -b -q 20'
  samtools_collate_args   = '--verbosity 3'
  samtools_fixmate_args   = '-m'
  samtools_markdup_args   = '-S -s -r'
  macs3_pe_args           = '-g 4.85e9 --keep-dup all -f BAMPE'
  macs3_se_args           = '-g 4.85e9 --keep-dup all -f BAM --nomodel --extsize 147'
  bedtools_intersect_args = '-wo'
  meme_args               = '-meme-mod anr'

  // Pipeline settings
  n_top_peaks             = 5000
  meme_slop_bp            = 250

  // Singularity images
  fastqc_sif      = "/mnt/picea/home/tkalman/singularity/fastqc_0.11.9.sif"
  multiqc_sif     = "/mnt/picea/home/tkalman/singularity/multiqc_1.11.sif"
  trimmomatic_sif = "/mnt/picea/home/tkalman/singularity/trimmomatic_0.39.sif"
  bowtie2_sif     = "/mnt/picea/home/tkalman/singularity/bowtie2_2.4.5.sif"
  samtools_sif    = "/mnt/picea/home/tkalman/singularity/samtools_1.16.sif"
  macs3_sif       = "/mnt/picea/home/tkalman/singularity/macs3_v3.0.0b3.sif"
  bedtools_sif    = "/mnt/picea/home/tkalman/singularity/bedtools_2.30.0.sif"
  meme_sif        = "/mnt/picea/home/tkalman/singularity/memesuite_5.5.2.sif"
}

singularity {
  enabled    = true
  autoMounts = true
}

process {
  executor = 'slurm'
  clusterOptions = '--account=u2021028 -p main --mail-user=teitur.ahlgren.kalman@umu.se --mail-type=BEGIN,END,FAIL'
  scratch = false
}

executor {
  pollInterval = '30 s'
  exitReadTimeout = '12 h'
}

profiles {
  slurm {
    process {
      queue = 'batch'
      errorStrategy = 'terminate'

      withName: 'FASTQC_RAW_PE|FASTQC_RAW_SE|FASTQC_TRIMMED_PE|FASTQC_TRIMMED_SE' {
        cpus = 2
        memory = '16 GB'
        time = '4h'
      }

      withName: 'MULTIQC_RAW_PE|MULTIQC_RAW_SE|MULTIQC_TRIMMED_PE|MULTIQC_TRIMMED_SE' {
        cpus = 1
        memory = '8 GB'
        time = '2h'
      }

      withName: 'TRIMMOMATIC_PE|TRIMMOMATIC_SE' {
        cpus = 18
        memory = '64 GB'
        time = '1d'
      }

      withName: 'BOWTIE2_ALIGN_SORT_PE|BOWTIE2_ALIGN_SORT_SE' {
        cpus = 18
        memory = '100 GB'
        time = '1d'
      }

      withName: 'SAMTOOLS_FILTER_Q20_PE|SAMTOOLS_FILTER_Q20_SE|SAMTOOLS_MARKDUP_REMOVE_PE|SAMTOOLS_MARKDUP_REMOVE_SE' {
        cpus = 18
        memory = '100 GB'
        time = '1d'
      }

      withName: 'MACS3_CALLPEAK' {
        cpus = 4
        memory = '64 GB'
        time = '12h'
      }

      withName: 'FRIP_CALCULATION' {
        cpus = 1
        memory = '64 GB'
        time = '2h'
      }

      withName: 'PEAK_PROMOTER_INTERSECT' {
        cpus = 1
        memory = '16 GB'
        time = '1h'
      }

      withName: 'TOP_SIGNAL_PEAKS' {
        cpus = 1
        memory = '16 GB'
        time = '4h'
      }

      withName: 'MEME_CHIP' {
        cpus = 8
        memory = '128 GB'
        time = '1d'
      }

      withName: 'COLLECT_SAMPLE_STATS' {
        cpus = 1
        memory = '4 GB'
        time = '1h'
      }
    }
  }
}
