// General DAP-seq pipeline
workDir = "$HOME/storage2/Sami_DAPseq/nf_workdir"

params {
  // Input/output
  samplesheet = "$HOME/storage2/Sami_DAPseq/samplesheet.csv"
  outdir      = "$HOME/storage2/Sami_DAPseq/nf_out"

  // Role labels used in samplesheet
  tf_role    = 'tf'
  input_role = 'input'

  // Reference files
  bowtie2_index = "$HOME/storage2/fasta_w-MT-and-CP/original/bowtie2/Picab02_chromosomes_and_unplaced"
  genome_fasta  = "$HOME/storage2/fasta_w-MT-and-CP/original/pabies-2.0_chromosomes_and_unplaced.fa"
  genome_fai    = "$HOME/storage2/fasta_w-MT-and-CP/original/pabies-2.0_chromosomes_and_unplaced.fa.fai"
  motif_db      = "$HOME/storage2/PlantTFDB/Ath_TF_binding_motifs.meme"
  adapters      = "/pfs/stor10/users/home/t/tkalman/Git/microC_spruce-genome-project/TruSeq3-PE-2.fa"

  // Analysis settings
  sliding_window      = '5:20'
  minlen              = 50
  bowtie2_flags       = '--very-sensitive --end-to-end --dovetail --minins 50 --maxins 1000'
  filter_include_flag = 3
  filter_exclude_flag = 12
  mapq                = 20
  macs_gsize          = 14150000000
  macs3_extra         = ''
  n_top_peaks         = 5000
  meme_slop_bp        = 250
  meme_options        = '-meme-mod anr'

  // Singularity images
  fastqc_sif      = "/pfs/proj/nobackup/fs/projnb10/hpc2nstor2024-058/singularity/fastqc_0.11.9.sif"
  multiqc_sif     = "/pfs/proj/nobackup/fs/projnb10/hpc2nstor2024-058/singularity/multiqc_1.11.sif"
  trimmomatic_sif = "/pfs/proj/nobackup/fs/projnb10/hpc2nstor2024-058/singularity/trimmomatic_0.39.sif"
  bowtie2_sif     = "$HOME/storage2/singularity/bowtie2_2.4.5.sif"
  samtools_sif    = "$HOME/storage2/singularity/samtools_1.16.sif"
  macs3_sif       = "/pfs/proj/nobackup/fs/projnb10/hpc2nstor2024-058/singularity/macs3_v3.0.0b3.sif"
  bedtools_sif    = "$HOME/storage2/singularity/bedtools_2.30.0.sif"
  meme_sif        = "$HOME/storage2/singularity/memesuite_5.5.2.sif"
}

singularity {
  enabled    = true
  autoMounts = true
}

process {
  executor = 'slurm'
  clusterOptions = '--account=hpc2n2025-086 --mail-user=teitur.ahlgren.kalman@umu.se --mail-type=BEGIN,END,FAIL'
  scratch = true
}

executor {
  pollInterval = '30 s'
  exitReadTimeout = '30 min'
}

profiles {
  slurm {
    process {
      queue = 'batch'
      errorStrategy = 'retry'
      maxRetries = 0

      withName: 'FASTQC_RAW|FASTQC_TRIMMED' {
        cpus = 2
        memory = '16 GB'
        time = '4h'
      }

      withName: 'MULTIQC_RAW|MULTIQC_TRIMMED' {
        cpus = 1
        memory = '8 GB'
        time = '2h'
      }

      withName: 'TRIMMOMATIC_PE' {
        cpus = 20
        memory = '64 GB'
        time = '1d'
      }

      withName: 'BOWTIE2_ALIGN_SORT' {
        cpus = 18
        memory = '256 GB'
        time = '3d'
      }

      withName: 'SAMTOOLS_FILTER_Q20|SAMTOOLS_MARKDUP_REMOVE' {
        cpus = 18
        memory = '128 GB'
        time = '2d'
      }

      withName: 'MACS3_CALLPEAK' {
        cpus = 4
        memory = '64 GB'
        time = '12h'
      }

      withName: 'TOP_SIGNAL_PEAKS' {
        cpus = 1
        memory = '16 GB'
        time = '4h'
      }

      withName: 'MEME_CHIP' {
        cpus = 8
        memory = '128 GB'
        time = '3d'
      }
    }
  }
}
